.myCard {
    border: 1px solid rgb(233, 233, 233);
    margin: 10px;
    border-radius: 5px;
    padding: 10px 5px;
}

.cardImg {
    width: 100px;
    height: 100px;
}

.notfImg {
    width: 65px;
    height: 65px;
}

.vertical-center {
    height: 100%;
    padding-right: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.cardHeading h3 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    color: #344054;
}

.card-link {
    color: #344054;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-align: left;
    margin-right: 8px;
}

.card-link svg {
    margin-right: 5px;
}

.openNow {
    color: green;
}

.cardImage{
    display: flex;
    align-items: center;
}

.cardImage figure{
    margin: 0 !important;
}

.cardImage figure img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}